name: Test + Lint
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-20.04
            # Version in SLE 15
            python: "3.6"
          - os: ubuntu-latest
            # Version in openSUSE Tumbleweed
            python: "3.10"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        pip3 install --upgrade pip
        pip3 install flake8
        sudo apt update
        sudo apt install -y podman
    - name: Lint
      run: make lint
    - name: Test
      run: make test
